body {
    background-color: #97D1C9;
    align-content: center;
    align-self: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
}
table {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    border-width: 0px;
}
.scrollbar {
    background-color: #e6e9e8;
}
div#logo{
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 1px 2px;
    width: 300px;
    height: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: bold;
    background-color: #97D1C9;
    text-align: left;
    padding-left: 20px;
}
#searchMessage{
    color: whitesmoke;
    text-shadow: rgb(0, 0, 0) 1px 1px 2px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #97D1C9;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
}
div {
    width: auto;
    height: auto;
    /* border: 1px solid black; */
    float: left;
    background: white;
    /* border-radius: 5px; */
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}
div#top{
    float: left;
    /* width: 100%; */
    height: 70px;
    background-color: #97D1C9;
    align-content: left;
    overflow: hidden;
}
div#bottom{
    float: left;
    width: 99%;
    height: 10px;
    align-content: center;
    background-color: #97D1C9;
    border-top: 1px solid rgb(107, 107, 107);
    position: fixed;
    bottom: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    /* margin: 10px; */
}
input#searchMain {
    color: #D7C997;
    width: 283px;
    height: 30px;
    font-size: 18px;
    background-color: whitesmoke;
    border: 0px;
    padding-left: 15px;
    margin-top: 1px;
 }
 button#user{
    width: 200px;
    height: 25px;
    color: white;
    background-color: #b4b4b4;
     border: 1px solid whitesmoke;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    text-shadow: rgb(0, 0, 0) 1px 1px 2px;
    box-shadow: 0 0px 10px 0 rgb(197, 207, 178);
 }
 button#user:hover {
    background-color: lightgrey;
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 1px 1px 2px;
 }

#topSpace{
    float: left;
    width: 95%;
    height: 10px;
    background-color: #97D1C9;
    align-content: left;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.mainLogo{
    margin-bottom: 7px;
    margin-right: 7px;
}