.select{
    float: left;
    width: 1200px;
    height: 50px;
    background-color: gray;
    color: black;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.master{
    float: left;
    width: 1200px;
    height: 150px;
    background-color: rgb(218, 188, 188);
    color: black;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.masterLeft{
    float: left;
    height: 150px;
    background-color: rgb(218, 188, 188);
    color: black;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.masterRight{
    float: left;
    width: 100%;
    height: 150px;
    background-color: rgb(218, 188, 188);
    color: black;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.divThumb{
    float: left;
    width: 50;
    height: 100px;
    background-color: rgb(218, 188, 188);
    color: black;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.divFull{
    float: left;
    width: 100;
    height: 150px;
    background-color: rgb(218, 188, 188);
    color: black;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}